body {
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
}
section {
    margin-bottom: 20px;
}
header {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* Text color */
    padding: 10px;
}
.input-group {
    margin-top: 20px;
    width: 18rem; /* Set the width to match the card */
}

#search-input {
    border-radius: 5px;
}

#search-button {
    border-radius: 5px;
}
.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #007bff; /* Primary color */
}

.list-group-item {
    background-color: #f8f9fa; /* Light background color for list items */
}
.container {
    display: block;
    text-align: center;
}