body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; 
}
/* Navbar styles */
nav.navbar {
    background-color: #E3F2FD; /* Light background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Navbar brand styles */
a.navbar-brand {
    color: #2E5339; /* Brand color */
}
/* Navbar toggle button styles */
button.navbar-toggler {
    border: 2px; /* Remove border */
}
/* Navbar links styles */
ul.navbar-nav {
    padding-top: 10px; /* Adjust top padding */
    margin-left: 5%;
}
footer {
    background-color: #1C2722;
    color: white;
}
/* Navbar link styles */
.nav-link {
    color: #2E5339; /* Link color */
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
}
/* Active link styles */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Make active link bold */
}
/* Hover link styles */
.navbar-nav .nav-item .nav-link:hover {
    color: #9EC79C; /* Hover color */
}
.container {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}

.input-group {
    margin-top: 20px;
    max-width: 400px; 
    margin: 0 auto; 
}

#search-input {
    font-family: 'DM Sans', sans-serif;
    color: #315C2B;
}

#search-button {
    border-radius: 5px;
    margin-left: 10px; 
}

.display-stadium-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 18rem;
    margin: 10px;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #007bff;
    margin-bottom: 10px;
}

.list-group-item {
    background-color: #f8f9fa;
}

#venues-history {
    display: none;
}


@media (max-width: 768px) {
    .input-group {
        max-width: 100%;
    }

    #search-input {
        width: 100%;
    }

    .card {
        width: calc(50% - 20px);
    }
}
