body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
nav.navbar {
    background-color: #e3f2fd; /* Light background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar brand styles */
a.navbar-brand {
    color: #1a0566; /* Brand color */
    font-weight: bold;
}

/* Navbar toggle button styles */
button.navbar-toggler {
    border: 2p; /* Remove border */
}

/* Navbar links styles */
ul.navbar-nav {
    padding-top: 10px; /* Adjust top padding */
    margin-left: 5%;
}

/* Navbar link styles */
.navbar-nav .nav-link {
    color: rgb(3, 42, 23); /* Link color */
}

/* Active link styles */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Make active link bold */
}

/* Hover link styles */
.navbar-nav .nav-item .nav-link:hover {
    color: #9ec79c; /* Hover color */
}

.input-group {
    display: flex;
    align-items: center;
    width: 20%;
}
.form-outline {
    width: 100%;
}

.navbar-brand {
    font-family: 'Workbench', sans-serif;
    font-size: 28px;
}

.card-title{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

.list-group{
    font-family: 'Dosis', sans-serif;
}
#search-button {
    padding: 0.25rem 0.5rem;
    background-color: #3498db; /* Unique color for the button */
}

#main-container {
    min-height: 78vh;
    padding-top: 55px;
}